* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	text-align: center;
}

.container {
	width: 100vw;
	margin-top: 30px;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

ul {
	list-style: none;
}

.ds-flex-row {
	display: flex;
}

.ds-flex-column {
	display: flex;
	flex-direction: column;
	row-gap: 10px;
}

.wrap {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid black;
	padding: 20px 0;
}

.block-flex {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

.fixed-width {
	width: 200px;
}

.text-left {
	text-align: left;
}
